body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-Title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.secondary-hero,
a {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}
.header,
.hero {
  font-size: 24px;
  color: #F9FAF8;
  background-color: #1f2937;
  padding-right: 300px;
  padding-left: 300px;
}

button {
  background-color: #3882f6;
  color: white;
}

.hero {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

button {
  background-color: #3882f6;
  padding: 5px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 52px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info{
  max-width: 200px;
}

.second-hero{
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

.Abstract {
width: 510px;
height: auto;
}