body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-Title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.secondary-hero, a {
  font-size: 18px;
  color: #e5e7eb;
}

a {
    text-decoration: none;
}

.header, .hero {
  font-size: 24px;  
  color: #F9FAF8;
  background-color: #1f2937;
  padding-right: 150px;
  padding-left: 150px;
}

button {
  background-color: #3882f6;
  color: white;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
}